/*GLOBAL STYLES*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #003472;
  --tertiary-color: #27aae1;
  --font-family-1: Playfair Display, serif;
  --font-family-2: Georgia, "Times New Roman", Times, serif;
  --font-size-H2-H3-Desktop: 40px;
  --font-size-Blog-Post-Headers-Desktop: 28px;
  --font-size-Blog-Post-Sub-Headers-Desktop: 22px;
  --font-size-Body-Desktop: 18px;
  --font-size-footer-Links-Desktop: 14px;
  --font-size-nav-and-buttons-Desktop: 16px;
  --font-size-H1-Desktop: 50px;
}

body,
html,
main {
  margin: 0;
}

nav a,
.h1-home,
.h2-home,
.h2-Blog-Feed,
.h4-home,
.Destinations-SH,
.destination,
.grid-post-header,
.H5-home,
.Subscribe-btn {
  color: var(--secondary-color);
}

.h1-home,
.h2-home,
.h2-Blog-Feed,
.Destinations-SH,
.grid-post-header,
.H5-home {
  font: var(--font-family-1);
  font-weight: bold;
}

.destination,
.Subscribe-btn,
nav a {
  font: var(--font-family-2);
  font-weight: bold;
}

nav a,
.Subscribe-btn {
  font-size: var(--font-size-nav-and-buttons-Desktop);
}

.h2-Blog-Feed,
.grid-post-header {
  font-size: var(--font-size-Blog-Post-Headers-Desktop);
}

.h1-home {
  font-size: var(--font-size-H1-Desktop);
}

.h2-home,
.h4-home,
.Destinations-SH,
.destination,
.H5-home {
  font-size: var(--font-size-H2-H3-Desktop);
}

.h1-home-bg,
.BP-header-container {
  background-color: var(--primary-color);
}

/*HEADER*/

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "One Two Three Four";
  align-items: center;
}

.h2-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Hamburger-menu {
  display: none;
}

.Search-icon {
  width: 23px;
}

.header-logo,
.footer-logo {
  width: 119px;
}

.header-logo {
  grid-area: One;
}

nav {
  grid-area: Two;
  display: flex;
  flex-wrap: nowrap;
}

nav a {
  font: var(--font-family-2);
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  gap: 12px;
}

nav a:hover {
  filter: drop-shadow(5px 5px 5px #27aae1);
}

nav a:active {
  filter: drop-shadow(2px 5px 1px #27aae1);
}

.Search-Btn {
  border: none;
  background: none;
  margin-left: -40px;
  margin-top: 5px;
  position: absolute;
}

.search-bar {
  width: 247px;
  height: 35px;
}

.Search-bar {
  grid-area: Four;
}

/*MAIN*/

.Video-banner {
  display: flex;
  max-height: 432px;
  margin-top: 2rem;
}

.video {
  width: 100%;
}

.h1-home-bg {
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-60%, -100%);
  text-align: center;
  z-index: 1;
}

.carousel {
  width: 100%;
  display: flex;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

.carousel-button {
  width: 200px;
  border: none;
  background: none;
}

.btn-img-carousel:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 52, 114, 70%));
  border-radius: 50%;
}

.btn-img-carousel:active {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 52, 114, 100%));
  border-radius: 50%;
}

.Slide {
  flex: 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Slide img {
  width: 38%;
  height: 65%;
  align-items: center;
  align-self: center;
}

.BP-header-container {
  display: flex;
  position: absolute;
  bottom: 16%;
  width: 80rem;
  height: 8rem;
  opacity: 0.8;
}

.h2-Blog-Feed {
  text-align: center;
}

.grid-post-header:hover,
.h2-Blog-Feed:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  cursor: pointer;
}

.grid-post-header:active,
.h2-Blog-Feed:active {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 5px;
  cursor: pointer;
}

#carousel-header-2,
#carousel-header-3 {
  width: 400px;
  text-align: center;
}
.h2-Blog-Feed {
  display: flex;
  position: absolute;
  bottom: 18%;
  width: 20rem;
}

.mountain-img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: -15rem;
}

.mountain-img {
  width: 60%;
}

.destination-list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 55%;
}

.destination {
  margin-left: 2.5rem;
}

.Destinations-SH {
  display: flex;
  justify-content: center;
}

.h4-home {
  display: flex;
  justify-content: center;
  margin-top: -15rem;
}

.Twelve-img-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  margin-top: -5rem;
  padding: 0;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: -4.5rem;
}

.blog-post-container img {
  width: 90%;
  height: 70%;
  margin: 0;
  padding: 0;
}

.grid-post-header {
  width: 10%;
  height: 3rem;
  position: absolute;
  width: 400px;
  text-align: center;
}
#grid-post-header-9,
#grid-post-header-10,
#grid-post-header-12 {
  height: 3.8rem;
}

.text-background-grid {
  display: flex;
  background-color: var(--primary-color);
  opacity: 0.8;
  position: absolute;
  width: 35%;
  height: 6rem;
}

.H5-home {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

#email {
  width: 720px;
  height: 66px;
}

.Subscribe-btn {
  height: 70px;
  width: 200px;
  border: 8px var(--tertiary-color) solid;
  padding: 30px 10px 40px 10px;
  margin-top: -0.5rem;
  margin-left: -1rem;
  background-color: var(--primary-color);
}

.SM-Icon {
  width: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.SM-icons-container {
  padding-left: 2rem;
}

.right-side-footer {
  padding-right: 2rem;
}
