/*GLOBAL STYLES*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #003472;
  --tertiary-color: #27aae1;
  --font-family-1: Playfair Display, serif;
  --font-family-2: Georgia, "Times New Roman", Times, serif;
  --font-size-H2-Desktop: 40px;
  --font-size-Blog-Post-Headers-Desktop: 20px;
  --font-size-Blog-Post-Sub-Headers-Desktop: 18px;
  --font-size-Body-Desktop: 18px;
  --font-size-footer-Links-Desktop: 14px;
  --font-size-nav-and-buttons-Desktop: 16px;
  --font-size-H1-Desktop: 50px;

  --font-size-H1-Mobile: 25px;
  --font-size-H2-Mobile: 20px;
  --font-size-H3-Mobile: 18px;
  --font-size-Blog-Post-Headers-Mobile: 18px;
  --font-size-Blog-Post-Sub-Headers-Mobile: 16px;
  --font-size-Body-Mobile: 16px;
  --font-size-nav-and-buttons-Mobile: 14px;
  --font-size-footer-Links-Mobile: 12px;
}

body,
html,
main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* body {
  border: 5px solid red;
}

html {
  border: 5px solid green;
}

main {
  border: 5px solid blue;
} */

nav a,
h1,
.h2-home,
.h2-Blog-Feed,
.h4-home,
.Destinations-SH,
.destination,
.grid-post-header,
.H5-home,
.Subscribe-btn,
.right-side-footer a,
.right-side-footer p,
.Public-Blog-Post-Body,
.post-link,
.Logout-link,
.input-label-create,
.Save-button,
.h2-Edit-Page,
.edit-label,
.h3-edit,
.save-btn,
.cancel-btn,
.edit-page-btn,
.login-label,
.login-btn,
.click-here-link,
.no-account-link,
.forgot-pw,
.register-label,
.register-btn,
.have-account-txt,
.login-here-link {
  color: var(--secondary-color);
}

.Save-button,
.save-btn,
.cancel-btn,
.login-btn,
.register-btn {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
  border: var(--tertiary-color) 3px solid;
  background-color: var(--primary-color);
}

.BP-header-container,
.header-container,
.edit-page-btn {
  background-color: var(--primary-color);
}

h1,
.h2-home,
.h2-Blog-Feed,
.Destinations-SH,
.grid-post-header,
.H5-home,
.post-link,
.Logout-link,
.h2-Edit-Page,
.h3-edit,
.click-here-link,
.no-account-link,
.forgot-pw,
.have-account-txt,
.login-here-link {
  font: var(--font-family-1);
  font-weight: bold;
}

.destination,
.Subscribe-btn,
nav a,
.right-side-footer a,
.right-side-footer p,
.input-label-create,
.Save-button,
.edit-label,
.save-btn,
.cancel-btn,
.edit-page-btn,
.login-label,
.login-btn,
.register-label,
.register-btn {
  font: var(--font-family-2);
  font-weight: bold;
}

nav a,
.Subscribe-btn,
.post-link,
.Logout-link,
.input-label-create,
.Save-button,
.edit-label,
.save-btn,
.cancel-btn,
.edit-page-btn,
.login-label,
.login-btn,
.click-here-link,
.no-account-link,
.forgot-pw,
.register-label,
.register-btn,
.have-account-txt,
.login-here-link {
  font-size: var(--font-size-nav-and-buttons-Desktop);
}

.h2-Blog-Feed,
.grid-post-header,
.h2-Edit-Page {
  font-size: var(--font-size-Blog-Post-Headers-Desktop);
}

h1 {
  font-size: var(--font-size-H1-Desktop);
}

.right-side-footer a,
.right-side-footer p {
  font-size: var(--font-size-footer-Links-Desktop);
}

.h2-home,
.h4-home,
.Destinations-SH,
.destination,
.h3-edit {
  font-size: var(--font-size-H2-Desktop);
}

.Public-Blog-Post-Body {
  font-size: var(--font-size-Body-Desktop);
  font-family: var(--font-family-2);
}

.H5-home {
  font-size: var(--font-size-Blog-Post-Sub-Headers-Desktop);
}

/*HEADER*/

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "One Two Three Four";
  align-items: center;
}

.Hamburger-menu {
  display: none;
}

.Search-icon {
  width: 23px;
}

.header-logo,
.footer-logo {
  width: 119px;
}

.header-logo {
  grid-area: One;
}

.nav-dropdown-box {
  display: flex;
  grid-area: Two;
}

nav {
  grid-area: Two;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

nav a {
  font: var(--font-family-2);
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-wrap: nowrap;
  gap: 12px;
}

nav a:hover {
  filter: drop-shadow(5px 5px 5px #27aae1);
}

nav a:active {
  filter: drop-shadow(2px 5px 1px #27aae1);
}

.Search-Btn {
  border: none;
  background: none;
  margin-left: 205px;
  margin-top: 8px;
  position: absolute;
}

.search-bar {
  width: 247px;
  height: 35px;
}

.Search-bar {
  grid-area: Four;
}

/*MAIN*/

.h2-container,
.Destinations-SH-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.h2-container {
  height: 8rem;
}

.Destinations-SH-box {
  height: 15rem;
}

.Video-banner {
  display: flex;
  max-height: 432px;
  margin-top: 2rem;
}

.video {
  width: 100%;
}

.h1-home {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  text-wrap: nowrap;
}

.carousel {
  width: 100%;
  display: flex;
  position: relative;
  margin: auto;
  overflow-x: hidden;
  margin-top: -5rem;
}

.carousel-button {
  width: 200px;
  border: none;
  background: none;
  z-index: 12;
}

.btn-img-carousel:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 52, 114, 70%));
  border-radius: 50%;
}

.btn-img-carousel:active {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 52, 114, 100%));
  border-radius: 50%;
}

.Slide {
  flex: 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Slide img {
  width: 70%;
  height: 65%;
  align-items: center;
  align-self: center;
}

.BP-header-container {
  display: flex;
  position: absolute;
  bottom: 16%;
  width: 80rem;
  height: 6rem;
  opacity: 0.8;
}

.grid-post-header:hover,
.h2-Blog-Feed:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  cursor: pointer;
}

.grid-post-header:active,
.h2-Blog-Feed:active {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 5px;
  cursor: pointer;
}

.h2-Blog-Feed {
  display: flex;
  position: absolute;
  bottom: 18%;
  width: 26vw;
  text-align: center;
}

.mountain-img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: -15rem;
}

.mountain-img {
  width: 60%;
}

.destination-list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 55%;
}

.destination {
  margin-left: 2.5rem;
}

.h4-home {
  display: flex;
  justify-content: center;
  margin-top: -10rem;
}

.Twelve-img-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  margin-top: -5rem;
  padding: 0;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: -4.5rem;
}

.blog-post-container img {
  width: 90%;
  height: 70%;
  margin: 0;
  padding: 0;
}

.grid-post-header {
  height: 8%;
  position: absolute;
  width: 28vw;
  text-align: center;
}

.text-background-grid {
  display: flex;
  background-color: var(--primary-color);
  opacity: 0.8;
  position: absolute;
  width: 30%;
  height: 15%;
}

.H5-home {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

#email {
  width: 500px;
  height: 36px;
}

.Subscribe-btn {
  height: 20px;
  width: 120px;
  border: 8px var(--tertiary-color) solid;
  padding: 10px 10px 30px 10px;
  margin-top: -0.4rem;
  margin-left: -1rem;
  background-color: var(--primary-color);
}

.Subscribe-btn:hover {
  border-color: rgb(39, 170, 225, 50%);
}

.Subscribe-btn:active {
  border-color: rgb(39, 170, 225, 20%);
}

.SM-Icon {
  width: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.SM-icons-container {
  padding-left: 2rem;
}

.right-side-footer {
  padding-right: 2rem;
}

/*PUBLIC BLOG POST PAGE*/

.Public-Blog-Post-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Public-Blog-Post-Img {
  width: 100%;
  height: 50%;
}

.Public-Blog-Post-Body {
  width: 80%;
}

.h1-public-blog-post {
  text-align: center;
}

/*CREATE POST PAGE and Edit Post Page*/

.Three-header-box,
.Three-header-box-2 {
  display: grid;
  grid-template-columns: 0% 80% 20%;
  align-items: center;
  justify-content: center;
  grid-template-areas: "One Two Three";
  width: 100vw;
}

.h1-box-create-post,
.h1-edit-box {
  display: flex;
  justify-content: center;
  grid-area: Two;
  width: 100vw;
}

.Two-links-box {
  display: flex;
  grid-area: Three;
  justify-content: center;
  width: 100px;
}

.post-link,
.Logout-link {
  text-decoration: none;
  text-wrap: nowrap;
}

.Logout-link {
  margin-left: 2rem;
}

.post-link:hover {
  filter: drop-shadow(5px 5px 5px #27aae1);
}

.post-link:active {
  filter: drop-shadow(2px 5px 1px #27aae1);
}

.Logout-link:hover {
  filter: drop-shadow(5px 5px 5px #27aae1);
}

.Logout-link:active {
  filter: drop-shadow(2px 5px 1px #27aae1);
}

#create-post-form,
.popup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.create-post-input,
.edit-input {
  padding: 1rem;
}

.input-label-create {
  margin-top: 1rem;
}

#body,
.body-edit {
  padding: 10rem;
}

.Create-Post-form-wrapper,
.popup-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-posts-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.blog-post img {
  width: 60%;
  height: 80%;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  position: absolute;
  width: 50rem;
  height: 14rem;
  opacity: 0.8;
  z-index: 11;
}

.h2-Edit-Page {
  width: 450px;
  height: 70px;
  z-index: 12;
  margin-top: -6rem;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  z-index: 12;
  justify-content: space-evenly;
  width: 100%;
}

.edit-page-btn {
  width: 20%;
  height: 4rem;
  border: 3px var(--tertiary-color) solid;
  margin-top: -1.2rem;
}

.edit-page-btn:hover,
.Save-button:hover,
.save-btn:hover,
.cancel-btn:hover {
  border: 4px var(--tertiary-color) solid;
}

.edit-page-btn:active,
.Save-button:active,
.save-btn:active,
.cancel-btn:active {
  border: 6px var(--tertiary-color) solid;
}

.popup-form {
  position: fixed;
  top: 1rem;
  left: 25rem;
  z-index: 12;
  background-color: var(--primary-color);
  padding-bottom: 5rem;
  border: 8px var(--tertiary-color) solid;
  display: none;
}

.button-wrapper-edit {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-left: 25%;
}

.edit-input,
.body-edit {
  width: 50%;
  margin-left: 25%;
}

.edit-label {
  margin-left: 25%;
}

.h3-edit-box {
  display: flex;
  justify-content: center;
}

/*LOGIN PAGE and REGISTER PAGE*/

.h1-login,
.h1-register {
  display: flex;
  justify-content: center;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 50%;
}

.login-input,
.register-input {
  padding: 1rem;
  width: 100%;
}

.login-btn,
.register-btn {
  margin-top: 1rem;
}

.login-btn-box,
.register-btn-box {
  display: flex;
  justify-content: center;
}

.login-form-wrapper,
.register-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.register-form-wrapper {
  height: 100vh;
}

.no-account-link,
.forgot-pw-link,
.have-account-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pw-label,
.forgot-pw-link,
#username-label,
#pw-label-register,
#repeat-pw-label {
  margin-top: 1rem;
}

/*MEDIA QUERIES*/

@media (max-width: 600px) {
  /*GLOBAL STYLES*/

  nav a,
  .Subscribe-btn,
  .post-link,
  .Logout-link,
  .input-label-create,
  .Save-button,
  .edit-label,
  .save-btn,
  .cancel-btn,
  .edit-page-btn,
  .login-label,
  .login-btn,
  .click-here-link,
  .no-account-link,
  .forgot-pw,
  .register-label,
  .register-btn,
  .have-account-txt,
  .login-here-link {
    font-size: var(--font-size-nav-and-buttons-Mobile);
  }

  .h2-Blog-Feed,
  .grid-post-header,
  .h2-Edit-Page {
    font-size: var(--font-size-Blog-Post-Headers-Mobile);
  }

  h1 {
    font-size: var(--font-size-H1-Mobile);
  }

  .right-side-footer a,
  .right-side-footer p {
    font-size: var(--font-size-footer-Links-Mobile);
  }

  .h2-home,
  .h4-home,
  .Destinations-SH,
  .destination,
  .h3-edit {
    font-size: var(--font-size-H2-Mobile);
  }

  .Public-Blog-Post-Body {
    font-size: var(--font-size-Body-Mobile);
  }

  .H5-home {
    font-size: var(--font-size-Blog-Post-Sub-Headers-Mobile);
  }

  /*HEADER*/
  header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "One Two Three";
  }

  .navigation {
    display: none;
    list-style: none;
    position: absolute;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.4);
  }

  nav a {
    text-wrap: nowrap;
  }

  .nav-wrapper {
    margin-top: -3rem;
  }

  .Hamburger-menu {
    display: block;
    position: relative;
    width: 50px;
    background: none;
    border: none;
    position: absolute;
    z-index: 12;
    grid-area: One;
  }

  .nav-dropdown-box {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    grid-area: Two;
    justify-self: center;
    margin-left: 3rem;
  }

  .search-bar {
    display: none;
    width: 120px;
    margin-left: -4.8rem;
    margin-top: -2rem;
    position: absolute;
  }

  .Search-Btn,
  .Search-icon {
    grid-area: Three;
    position: static;
    z-index: 12;
    margin-top: -3.5rem;
  }

  .Search-icon {
    width: 40px;
  }

  .Search-Btn {
    margin-left: 0;
  }

  .Search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /*MAIN*/

  .h1-home {
    top: 30%;
  }

  .h4-home {
    margin-top: -5rem;
    height: auto;
  }

  .Twelve-img-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    margin-top: -7rem;
  }

  .carousel-button {
    width: 100px;
    border: none;
    background: none;
    z-index: 12;
  }

  .h2-container {
    height: 5rem;
  }

  .h2-Blog-Feed {
    width: 60vw;
  }

  .grid-post-header {
    width: 90vw;
    height: 14vh;
  }

  .text-background-grid {
    width: 90%;
  }
  .BP-header-container {
    width: 28rem;
    height: 4rem;
  }

  #email {
    width: 200px;
    height: 36px;
  }

  .SM-Icon {
    width: 30px;
  }

  .SM-icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-post-header {
    height: 10%;
    width: 80vw;
  }

  .text-background-grid {
    width: 90%;
    height: 15%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  /*GLOBAL STYLES*/

  nav a,
  .Subscribe-btn,
  .post-link,
  .Logout-link,
  .input-label-create,
  .Save-button,
  .edit-label,
  .save-btn,
  .cancel-btn,
  .edit-page-btn,
  .login-label,
  .login-btn,
  .click-here-link,
  .no-account-link,
  .forgot-pw,
  .register-label,
  .register-btn,
  .have-account-txt,
  .login-here-link {
    font-size: var(--font-size-nav-and-buttons-Mobile);
  }

  .h2-Blog-Feed,
  .grid-post-header,
  .h2-Edit-Page {
    font-size: var(--font-size-Blog-Post-Headers-Mobile);
  }

  h1 {
    font-size: var(--font-size-H1-Mobile);
  }

  .right-side-footer a,
  .right-side-footer p {
    font-size: var(--font-size-footer-Links-Mobile);
  }

  .h2-home,
  .h4-home,
  .Destinations-SH,
  .destination,
  .h3-edit {
    font-size: var(--font-size-H2-Mobile);
  }

  .Public-Blog-Post-Body {
    font-size: var(--font-size-Body-Mobile);
  }

  .H5-home {
    font-size: var(--font-size-Blog-Post-Sub-Headers-Mobile);
  }

  /*HEADER*/
  header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "One Two Three";
  }

  .navigation {
    display: none;
    list-style: none;
    position: absolute;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.4);
  }

  nav a {
    text-wrap: nowrap;
  }

  .nav-wrapper {
    margin-top: -3rem;
  }

  .Hamburger-menu {
    display: block;
    position: relative;
    width: 50px;
    background: none;
    border: none;
    position: absolute;
    z-index: 12;
    grid-area: One;
  }

  .nav-dropdown-box {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    grid-area: Two;
    justify-self: center;
    margin-left: 3rem;
  }

  .search-bar {
    display: none;
    width: 160px;
    margin-left: -7.6rem;
    margin-top: -2rem;
    position: absolute;
  }

  .Search-Btn,
  .Search-icon {
    grid-area: Three;
    position: static;
    z-index: 12;
    margin-top: -3.5rem;
  }

  .Search-icon {
    width: 40px;
  }

  .Search-Btn {
    margin-left: 0;
  }

  .Search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /*MAIN*/

  .Twelve-img-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: -7rem;
  }

  .h1-home {
    top: 35%;
  }

  .h4-home {
    margin-top: -5rem;
    height: auto;
  }

  .carousel-button {
    width: 100px;
    border: none;
    background: none;
    z-index: 12;
  }

  .h2-container {
    height: 5rem;
  }

  .h2-Blog-Feed {
    width: 50vw;
  }

  .BP-header-container {
    width: 40rem;
    height: 6rem;
  }

  #email {
    width: 400px;
    height: 36px;
  }

  .grid-post-header {
    height: 13%;
    width: 40vw;
  }

  .text-background-grid {
    width: 50%;
    height: 18%;
  }

  .SM-Icon {
    width: 40px;
  }
}

@media (min-width: 801px) and (max-width: 979px) {
  .Twelve-img-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: -7rem;
  }

  .grid-post-header {
    height: 8%;
    width: 40vw;
  }

  .text-background-grid {
    width: 50%;
    height: 15%;
  }

  .h1-home {
    top: 38%;
  }

  .BP-header-container {
    width: 60rem;
    height: 6rem;
  }
}
